.title{
  margin-left: 30px;
  margin-top: 10px;
}
.add{
  width: 120px;
  height: 30px;
  margin-left: 30px;
  margin-top: 20px;
}
table{
  margin-top: 20px;
  margin-left: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
}

.modal button {
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
table th{
  padding: 0px 10px;
}
table td{
  padding:10px 40px;

}
td button{
  margin-left: 10px;
  padding: 5px 10px;

}

.list:nth-child(odd){
  background-color: rgb(243, 242, 242);
  
}

.list:nth-child(even){
  background-color: white;
}
